<div class="restaurant">
  <div class="main-info">
    <div class="image">
      <img class="bg" [src]="api + 'booking/RestaurantsAvatar?filename=' + restaurant.fileName"  alt="">
    </div>
    <div class="info">
      <h1>{{restaurant.name}}</h1>
      <div>
        <span>Адрес: </span> <span> {{restaurant.addres}}</span>
      </div>
      <div>
        <span>Средний чек: </span> <span>{{restaurant.avgCheck}}</span>
      </div>
      <div>
        <span>Посадочных мест: </span> <span>{{restaurant.seats}}</span>
      </div>
      <div>
        <span>Кухня: </span> <span>{{restaurant.kitchen}}</span>
      </div>
      <div>
        <span>Город: </span> <span>{{restaurant.city}}</span>
      </div>
      <div>
        <span>Номер: </span> <span>{{restaurant.number}}</span>
      </div>
    </div>
  </div>
  <div class="work-day">
    <div class="work-time">
      <div class="day" *ngFor="let day of restaurant.workDay">
        <div class="day-name">{{day.dayName}}</div>
        <div class="start-time">{{day.startTime}}</div>
        <div>{{day.endTime}}</div>
      </div>
    </div>
  </div>
  <div>
    <div>
      <input type="file" (change)="uploadFiles($event.target.files)" multiple />
    </div>
  </div>
</div>
