<div class="reservs">
  <div class="reserv-info">
    <div class="reserv" *ngFor="let table of bookedTable; let i= index">
      <div class="reserv-title" (click)="showFullInfo(table)">
        <div class="plus">+</div>
        <div class="title">
          <span>{{table.firstName}} </span>
          <span> {{table.lastName}}</span>
        </div>
        <div>
          <div class="accept-reserve" *ngIf="table.reserveStatus === 3" (click)="acceptReserve(table)">
            Подтвердить бронь
          </div>
          <div class="accept-reserve" *ngIf="table.reserveStatus === 1">
            Бронь подтверждена
          </div>
        </div>
        <div class="delete-reserve" (click)="deleteReserve(table, i)">
          Удалить бронь
        </div>

        <div class="delete-reserve" *ngIf="table.reserveStatus === 3" (click)="rejectReserve(table)">
          Отклонить бронь
        </div>

        <div class="delete-reserve" *ngIf="table.reserveStatus === 2">
          Бронь отклонена
        </div>
      </div>
      <div class="reserv-full" *ngIf="table.showFullInfo">
        <div class="info">
          <div class="date">
            Дата: {{getDate(table.date)}}
          </div>
          <div class="comment">
            Комментарий: {{table.comments}}
          </div>
          <div class="time">
            Время: {{table.time}}
          </div>
          <div class="count-person">
            Количество персон: {{table.numberOfGuests}}
          </div>
          <div class="count-person">
            Номер: {{table.phoneNumber}}
          </div>
        </div>
        <div *ngIf="table.menu.length === 0">
          По меню заказов не было
        </div>
        <table *ngIf="table.menu.length> 0">
          <thead>
            <tr>
              <th></th>
              <th>Название</th>
              <th>Состав</th>
              <th>Количество</th>
              <th>Стоимость</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dish of table.menu">
              <td *ngIf="dish.fileName != null">
                <img class="dish-img" [src]="api +
                  'restinfo/RestaurantsMenu?filename=' + dish.fileName">
              </td>
              <td>
                {{dish.nameOfDish}}
              </td>
              <td>
                {{dish.composition}}
              </td>
              <td>
                {{dish.dishCount}}
              </td>
              <td>
                {{dish.price}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>
