.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid #66757f;
  padding: 5px 0;

  .logo{
    img{
      cursor: pointer;
    }
  }
  .menu {
    a {
      padding: 0 20px;
      color: #66757f;
      text-decoration: none;
    }
  }

  .sign-btns {
    display: flex;
    align-items: center;
  }

  .li {
    padding-right: 10px;
    padding-left: 10px;

  }
}
