<div class="pre-header">
</div>
<div class="header">
  <div class="logo">
    <img src="/assets/logo.png" [routerLink]="['']" alt="" height="40px"
      width="40px">
  </div>
  <!-- <div class="menu">
    <a class="li" class="" [routerLink]="['']">Главная</a>
    <a class="li" [routerLink]="['/booking']">Забронировать</a>
    <a class="li" [routerLink]="['/delivery']">Доставка</a>
  </div> -->
  <div class="sign-btns">
    <button class="btn-b li" [routerLink]="['/sign']" *ngIf="user === null">
      Войти/Регистрация
    </button>
    <button class="btn-b li" [routerLink]="['/add-restaurant']"
      *ngIf="currentRole === true">
      Добавить ресторан
    </button>
    <button class="btn-b li"
      *ngIf="currentRole === true">
      Добавить акции
    </button>
    <button class="btn-b li" [routerLink]="['/add-personal']" *ngIf="currentRole
      === true">
      Добавить персонал
    </button>
    <button class="btn-b li">
      Пополнить счёт
    </button>
    <div class="li" *ngIf="user !== null" [routerLink]="currentRole ===
      true?['/user-info']:['/']">
      {{user.firstName}}
    </div>
    <div class="li" *ngIf="user !== null">
      {{user.virtualMoney}} тг.
    </div>
    <a class="logout li" (click)="logout()" *ngIf="user !== null">
      Выйти
    </a>
  </div>
</div>
