<div class="pre-header">
</div>
<div class="header">
  <div>LOGO</div>
  <div>
    <nav>
      <a [routerLink]="['']">Главная</a>
      <a [routerLink]="['/booking']">Забронировать столик</a>
      <a [routerLink]="['/delivery']">Доставка</a>
    </nav>
  </div>
  <div class="sign-btns">
    <a [routerLink]="['/sign']" *ngIf="user === null">
      <button class="btn-header">
        Войти/Регистрация
      </button>
    </a>
    <a [routerLink]="['/add-restaurant']" *ngIf="user !== null">
      <button class="btn-header">
        Добавить ресторан
      </button>
    </a>
    <a *ngIf="user !== null">
      {{user.firstName}}
    </a>
    <div class="logout" (click)="logout()" *ngIf="user !== null">
      Выйти
    </div>
  </div>
</div>
