<div class="booking">
  <div class="restaurant">
    <div class="slide">
      <div class="restaurantImg" *ngFor="let image of images; let i = index">
        <button class="slideBtn" *ngIf="image.isShow === true" (click)="prev(i)">
          < </button> <img *ngIf="image.isShow === true" src="{{ image.path }}" alt="" width="600px" height="400px" />
          <button class="slideBtn" *ngIf="image.isShow === true" (click)="next(i + 1)">
            >
          </button>
      </div>
    </div>
    <div class="info">
      <h1>Ресторан "{{restaurant.name}}"</h1>
      <div>
        Описание: {{restaurant.description}}
      </div>
      <div>Адрес: {{restaurant.addres}}</div>
      <div>Кухня:{{restaurant.kitchen}}</div>
      <div *ngFor="let day of restaurant.workDay">
        <div>{{day.dayName}}</div>
        <div>{{day.startTime}}</div>
        <div>{{day.endTime}}</div>
      </div>
      <div>Доставка:
        <div *ngIf="restaurant.delivery === true">Есть, <a href="">заказать на дом</a></div>
        <div *ngIf="restaurant.delivery === false">Нет</div>
      </div>
      <button class="btn-b" [routerLink]="['/restaurant', restaurant.id, 'restaurantArea', user.id]">Зарезервировать</button>
    </div>
  </div>
</div>
