.booking {
  margin-top: 50px;

  .restaurant {
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;

    .slide {
      width: 50%;

      .restaurantImg {
        display: flex;
        align-items: center;
        justify-content: center;

        .slideBtn {
          background: none;
          border: none;
          background-color: black;
          opacity: 0.6;
          color: white;
          border-radius: 20px;
          height: 25px;
          width: 25px;
          cursor: pointer;
          margin: 10px;
        }
      }
    }

    .info {
      width: 50%;
    }
  }

  .booking-process {
    .booking-info {
      display: flex;

      .book {
        width: 50%;

        .book-in {
          padding: 50px;

          h2 {
            margin-bottom: 30px;
          }

          .form-control {
            width: 250px;
            margin-bottom: 30px;

            .name {
              margin-bottom: 20px;
            }
          }

          .form-file {
            width: 250px;
            margin-bottom: 30px;

            .name {
              margin-bottom: 20px;
            }
          }

          .form-control-time {
            margin-bottom: 30px;

            .name {
              margin-bottom: 20px;
            }
          }

          .form-textarea {
            margin-bottom: 30px;

            .name {
              margin-bottom: 20px;
            }
          }
        }
      }

      .plan {
        width: 50%;

        .area {
          border: 1px solid #48aae6;
          height: 700px;
          width: 700px;
          .box {
            background: #48aae6;
            display: inline-block;
            color: white;
            text-align: center;

            &.dragging {
              background: coral;
            }
          }
        }
      }
    }

    .accept-btn {
      display: flex;
      justify-content: center;
    }
  }
}


@media only screen and (max-width: 1024px) {
  .booking {

    .restaurant {
      flex-direction: column;

      .slide {
        width: 100%;

        .restaurantImg {


          .slideBtn {}
        }
      }

      .info {
        width: 100%;
      }
    }

    .booking-process {
      .booking-info {
        flex-direction: column;

        .book {
          width: 100%;
        }

        .plan {
          width: 100%;
        }
      }
    }
  }
}
