<div class="booking">
  <div class="restaurant">
    <div class="slide">
      <div class="restaurantImg" *ngFor="let image of images; let i = index">
        <button
          class="slideBtn"
          *ngIf="image.isShow === true"
          (click)="prev(i)"
        >
          <
        </button>
        <img
          *ngIf="image.isShow === true"
          src="{{ image.path }}"
          alt=""
          width="600px"
          height="400px"
        />
        <button
          class="slideBtn"
          *ngIf="image.isShow === true"
          (click)="next(i + 1)"
        >
          >
        </button>
      </div>
    </div>
    <div class="info">
      <h1>Ресторан Shurpa</h1>
      <div>
        Описание: Ресторан Shurpa - это классические блюда азиатской и
        европейской кухни, а также вкусные чаи от лучших Барменов города Алматы;
        Кухня на гриле (блюда из мяса будут готовить по особо вкусным рецептам).
        Уютное и атмосферное заведение, куда непременно захочется вернуться
        вновь!
      </div>
      <div>Address: улица Кунаева 66</div>
    </div>
  </div>
  <div class="booking-process">
    <div class="booking-info">
      <div class="book">
        <div class="book-in">
          <h2>Забронировать</h2>
          <div class="form-control">
            <div class="name">Номер</div>
            <input type="number" />
          </div>
          <div class="form-control">
            <div class="name">Количество человек</div>
            <input type="number" />
          </div>
          <div class="form-control-time">
            <div class="name">Выберите день и время</div>
            <input type="date" name="calendar" /> <input type="time" />
          </div>
          <div class="form-textarea">
            <div class="name">Пожелания</div>
            <textarea name="" id="" cols="45" rows="10"></textarea>
          </div>
          <div class="">
            <div class="name">Предзаказ</div>
            <div class="radio">
              <input id="radio-1" name="selector" type="radio" [value]="true" />
              <label for="radio-1" class="radio-label">Открыть меню</label>
            </div>

            <div class="radio">
              <input
                id="radio-2"
                name="selector"
                type="radio"
                [value]="false"
              />
              <label for="radio-2" class="radio-label">Не открытвать</label>
            </div>
          </div>
        </div>
      </div>

      <div class="plan">
        <div class="area" appMovableArea>
          <div
            class="box"
            (emitPosition)="onChanged($event, i)"
            appMovable
            *ngFor="let trapped of trappedBoxes; let i = index"
            [xx]="trapped.translateX"
            [yy]="trapped.translateY"
            [ngStyle]="{
              width: trapped.width + 'px',
              height: trapped.height + 'px'
            }"
          (click)="selectedTable(trapped.numberOfTable)">
            <div>Стол для {{ trapped.countPerson }}</div>
            <div>#{{ trapped.numberOfTable }}</div>

          </div>
        </div>
      </div>
    </div>
    <div class="accept-btn">
      <button class="btn-b" (click)="acceptBooking()">Подтвердить</button>
    </div>
  </div>
</div>
