.main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &-left {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 60%;
    @media screen and (max-width: 767px) {
        width: 100%;
      }

    .restaurant-header {
      margin-bottom: 50px
    }

    .restaurants {
      .restaurant {
        display: flex;
        .image {
        }

        .item {
        }

        .item-1 {
          .info {
           }

        }
      }
    }

  }

  &-right {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 35%;
    margin-right: 25px;
    position: relative;
    @media screen and (max-width: 767px) {
        width: 100%;
      }
    .news-header {
      border-bottom: 1px solid #66757f;
      padding: 25px;

    }

  }
}
