<div class="home">
  <div class="home-bg">
    <div class="bg" style="background-image:url(/assets/home-bg.png)"></div>
  </div>
</div>

<div class="main">
  <div class="main-left">
    <div class="restaurant-header">
      <h3>
        Рестораны
      </h3>
    </div>
    <div class="restaurants">
      <div class="restaurant" *ngFor="let restaurant of restaurants">
        <div class="image">
          <img class="bg" [src]="'https://localhost:5001/' + '/Files/' + restaurant.fileName" alt="" >
        </div>
        <div class="item">
          <h4>Название ресторана: {{restaurant.name}}</h4>
          <div class="description">Описание: {{restaurant.description}}</div>
          <div class="item-address">Адрес: {{restaurant.addres}}</div>
        </div>
        <div class="item-1">
          <div class="info">
            <div>{{restaurant.avgCheck}}</div>
            <div>Средний чек</div>
          </div>
          <div class="info">
            <div>{{restaurant.seats}}</div>
            <div>Посадочных мест
            </div>
          </div>
        </div>
        <div class="block-btn">
          <button class="btn-b" [routerLink]="['/restaurant', restaurant.id, 'booking']" >Забронировать</button>
          <button class="btn-b" [routerLink]="['/delivery']">Доставка</button>
        </div>
      </div>
    </div>
  </div>
  <div class="main-right">
    <div class="news-header">
      <h3>Акции и новости</h3>
    </div>
    <div>
      <h4></h4>
    </div>
  </div>
</div>
