<div class="add-res">
  <h1>Добавить ресторан</h1>
  <div>
    <div>Название ресторана</div>
    <input type="text" />
  </div>
  <div>
    <div>Описание</div>
    <textarea name="" id="" cols="30" rows="10"></textarea>
  </div>
  <div>
    <div>Доставка</div>
    <p><input name="" type="radio" value="" /> Есть</p>
    <p><input name="" type="radio" value="" /> Нет</p>
  </div>
  <div>
    <select name="">
      <option *ngFor="let country of countries" value="location.cityTitle">
        {{ country.countryTitle }}
      </option>
    </select>
    <select name="">
      <option *ngFor="let city of cities" value="location.cityTitle">
        {{ city.cityTitle }}
      </option>
    </select>
  </div>
  <div><input type="file" /></div>
  <div>
    <div>
      <div>Понедельник</div>
      <div>Понедельник</div>
      <div>Понедельник</div>
      <div>Понедельник</div>
      <div>Понедельник</div>
      <div>Понедельник</div>
      <div>Понедельник</div>
    </div>
    <select name="" id="">
      <option value="">1</option>
      <option value="">1</option>
      <option value="">1</option>
    </select>
    <select name="" id="">
      <option value="">1</option>
      <option value="">1</option>
      <option value="">1</option>
    </select>
    <input type="checkbox" />
  </div>
</div>
