<div class="add">
  <div class="add-res">
    <h1>Добавить ресторан</h1>
    <div class="form-control">
      <div class="name">Название ресторана</div>
      <input type="text" [(ngModel)]="restaurant.name" />
    </div>
    <div class="form-control">
      <div class="name">Адрес</div>
      <input type="text" [(ngModel)]="restaurant.addres" />
    </div>
    <div class="form-textarea">
      <div class="name">Описание</div>
      <textarea name="" id="" cols="45" rows="10" [(ngModel)]="restaurant.description"></textarea>
    </div>

    <div class="form-control">
      <div class="name">Номер</div>
      <input type="number" [(ngModel)]="restaurant.number" placeholder="-" />
    </div>
    <div class="form-textarea">
      <div class="name">Кухня</div>
      <textarea name="" id="" cols="45" rows="10" [(ngModel)]="restaurant.kitchen"></textarea>
    </div>
    <div class="delivery">
      <div class="name">Доставка</div>
      <div class="radio">
        <input id="radio-1" name="selector" [(ngModel)]="restaurant.delivery" type="radio" [value]="true">
        <label for="radio-1" class="radio-label">Есть</label>
      </div>

      <div class="radio">
        <input id="radio-2" name="selector" [(ngModel)]="restaurant.delivery" type="radio" [value]="false">
        <label for="radio-2" class="radio-label">Нет</label>
      </div>
    </div>
    <div class="form-control">
      <div class="name">Средний чек</div>
      <input type="number" [(ngModel)]="restaurant.avgCheck" placeholder="-" />
    </div>
    <div class="form-control">
      <div class="name">Мест</div>
      <input type="number" [(ngModel)]="restaurant.seats" placeholder="-" />
    </div>
    <div class="form-control">
      <select name="">
        <option *ngFor="let country of countries" value="location.cityTitle">
          {{ country.countryTitle }}
        </option>
      </select>
      <select name="" [(ngModel)]="restaurant.cityId">
        <option *ngFor="let city of cities" [ngValue]="city.Id" [selected]="city.Id">
          {{ city.cityTitle }}
        </option>
      </select>
    </div>
    <div class="form-file">
      <input class="foo" type="file" id="file" (change)="uploadAvatar($event.target.files)">
    </div>
    <div class="form-control-time" *ngFor="let workDays of restaurant.workDay">
      <div>
        <div>{{workDays.dayName}}</div>
      </div>
      <input type="time" [(ngModel)]="workDays.startTime">
      <input type="time" [(ngModel)]="workDays.endTime">
    </div>
  </div>
  <div class="plan">
    <div class="plan-area">
      <div class="area" [ngStyle]="style" mwlResizable [validateResize]="validate" [resizeEdges]="{bottom: true, right: true, top: true, left: true}"
        [enableGhostResize]="true" [resizeSnapGrid]="{left: 50, right: 50}" (resizeEnd)="onResizeEnd($event)"
        appMovableArea>
        <div class="box" (emitPosition)="onChanged($event, i)" *ngFor="let table of restaurant.tables; let i = index"
          [xx]="table.translateX" [yy]="table.translateY" [ngStyle]="{
            width: table.width + 'px',
            height: table.height + 'px'
          }"
          appMovable>
          <div class="name">{{ table.name }}</div>
          <div>#{{ table.numberOfTable }}</div>
        </div>
      </div>
    </div>
    <div class="tools">
      <div class="tool-type" *ngFor="let add of addObjects">
        <div class="tool-direction">{{ add.name }}</div>
        <div *ngFor="let object of add.objects">
          <button class="btn-b" (click)="addObject(object)">{{ object.name }}</button>
        </div>
      </div>
    </div>
    <div class="menu">
      <div class="dishes">
        <div class="dish-row">
          <div class="form-control">
            <div class="name">Название блюда</div>
            <input type="text" [(ngModel)]="addingDish.nameOfDish" />
          </div>
          <div class="form-textarea">
            <div class="name">Описание</div>
            <textarea name="" id="" cols="45" rows="10" [(ngModel)]="addingDish.composition"></textarea>
          </div>
          <div class="form-control">
            <div class="name">Цена</div>
            <input type="number" [(ngModel)]="addingDish.price" />
          </div>
          <div class="form-control">
            <select name="" [(ngModel)]="addingDish.typeId">
              <option *ngFor="let type of dishType" [ngValue]="type.Id" [selected]="type.Id">
                {{ type.title }}
              </option>
            </select>
          </div>
          <div class="add-btn">
            <button class="btn-b" (click)="addDish()">Добавить</button>
          </div>
        </div>
        <div>

        </div>
      </div>
    </div>
    <div class="show-menu">
      <table>
        <thead>
          <tr>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let menu of restaurant.menu">
            <td>{{menu.nameOfDish}}</td>
            <td>{{menu.composition}}</td>
            <td>{{menu.price}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="add-btn">
      <button class="btn-b" (click)="setRestaurant()">Добавить</button>
    </div>
  </div>

</div>
