<div class="booking-process">
  <div class="booking-info">
    <div class="plan">
      <h1>Забронировать</h1>
      <div class="area" [ngStyle]="style" appMovableArea>
        <div class="box" (emitPosition)="onChanged($event, i)" *ngFor="let
          trapped of restaurant.tables; let i= index"
          [ngStyle]="{
          width: trapped.width + 'px',
          height: trapped.height + 'px',
          transform: 'translateX('+trapped.translateX+'px)' + ' ' +
          'translateY('+trapped.translateY+'px)'
          }"
          (click)="selectTable(trapped)" [ngClass]="trapped.isSelected === true
          || trapped.reservTable === true? 'reserved':''">
          <div>{{ trapped.name }}</div>
          <div>#{{ trapped.numberOfTable }}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="book">
    <div class="booking">
      <div class="book-in">
        <div class="form-control-time">
          <div class="name">Выберите день и время</div>
          <input type="date" name="calendar" [(ngModel)]="bookedTable.date" />
          <input type="time" [(ngModel)]="bookedTable.time" />
        </div>

        <div class="form-control-time">
          <div class="name">Количество гостей</div>

          <input type="number" [(ngModel)]="bookedTable.numberOfGuests" />
        </div>

        <div class="form-textarea">
          <div class="name">Пожелания</div>
          <textarea name="" id="" cols="45" rows="10"
            [(ngModel)]="bookedTable.comments"></textarea>
        </div>
        <div class="form-radio">
          <div class="name">Предзаказ</div>
          <div class="radio">
            <input id="radio-1" name="selector" type="radio" [value]="true" />
            <label for="radio-1" class="radio-label">Открыть меню</label>
          </div>

          <div class="radio">
            <input id="radio-2" name="selector" type="radio" [value]="false" />
            <label for="radio-2" class="radio-label">Не открытвать</label>
          </div>
        </div>
      </div>
    </div>
    <div class="book-full-info">
      <div class="info-in">
        <h1>{{user.firstName}} {{user.lastName}}</h1>
        <div class="item"><span class="title">Почта: </span> {{user.userName}}</div>
        <div class="item"><span class="title">Номер: </span> +7 747 899 53 10</div>
        <div class="item"><span class="title">День: </span> {{bookedTable.date}}</div>
        <div class="item"><span class="title">Время: </span>
          {{bookedTable.time}}</div>
        <div class="item"><span class="title">Пожелания: </span>
          {{bookedTable.comments}}</div>
        <div class="item"><span class="title">Место: </span> {{bookedTale}}</div>
      </div>
    </div>
  </div>
  <div class="menu">
    <h1>Меню</h1>
    <div class="menu-in">
      <div class="left">
        <div class="dish-types">
          <div class="type" *ngFor="let type of dishType"
            (click)="dishForType(type.id)">
            <div>{{type.title}}</div>
          </div>
        </div>
      </div>
      <div class="right">
        <div class="dishes-list">
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Название</th>
                <th>Состав</th>
                <th>Количество</th>
                <th>Стоимость</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let dish of menu">
                <td *ngIf="dish.fileName !== null">
                  <img class="dish-img" [src]="api +
                    'restinfo/RestaurantsMenu?filename=' + dish.fileName">
                </td>
                <td *ngIf="dish.fileName === null">
                  <img class="dish-img"
                    [src]="'https://www.imglegacyhotel.com/wp-content/themes/img/assets/images/social_insta.png'">
                </td>
                <td>
                  {{dish.nameOfDish}}
                </td>
                <td>
                  {{dish.composition}}
                </td>
                <td>
                  <select [(ngModel)]="dish.dishCount">
                    <option *ngFor="let count of dishCountEx"
                      [ngValue]="count.number">
                      {{count.number}}
                    </option>
                  </select>
                </td>
                <td>
                  {{dish.price}}
                </td>
                <td>
                  <input type="checkbox" [(ngModel)]="dish.checked"
                    (ngModelChange)="dish.checked= $event"
                    (change)="checkDish(dish)">
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="accept-btn">
    <button class="btn-b" (click)="acceptBooking()">Подтвердить</button>
  </div>
</div>
